@page
@model TeamEventRegistration.Web.Areas.Admin.Pages.Roles.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].RoleName)
            </th>
            <th>Members</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberCount)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RoleId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

